@font-face {
	font-family: "<%= fontName %>";
	src: url('<%= fontPath %>/<%= fontName %>.eot?v=<%= fileVersion %>');
	src: url('<%= fontPath %>/<%= fontName %>.eot?#iefix&v=<%= fileVersion %>') format('eot'),
		url('<%= fontPath %>/<%= fontName %>.woff2?v=<%= fileVersion %>') format('woff2'),
		url('<%= fontPath %>/<%= fontName %>.woff?v=<%= fileVersion %>') format('woff'),
		url('<%= fontPath %>/<%= fontName %>.ttf?v=<%= fileVersion %>') format('truetype'),
		url('<%= fontPath %>/<%= fontName %>.svg#<%= fontName %>?v=<%= fileVersion %>') format('svg');
	font-weight: normal;
	font-style: normal;
}

.<%= prefix %><%= selector %> {
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: '<%= fontName %>';
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.<%= prefix %><%= selector %>--lg {
  font-size: 1.333333333333333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}
.<%= prefix %><%= selector %>--xs {
  font-size: 0.75em;
}
.<%= prefix %><%= selector %>--sm {
  font-size: 0.875em;
}
.<%= prefix %><%= selector %>--footnotesize {
  font-size: 0.5em;
  line-height: 0.75;
}
.<%= prefix %><%= selector %>--small {
  font-size: 0.7071em;
  line-height: 1.0607;
}
.<%= prefix %><%= selector %>--big {
  font-size: 1.4142em;
  line-height: 1.0607;
}
.<%= prefix %><%= selector %>--large {
  font-size: 2em;
  line-height: 0.9375;
}
.<%= prefix %><%= selector %>--huge {
  font-size: 2.8284em;
  line-height: 1.0607;
}
.<%= prefix %><%= selector %>--great {
  font-size: 4em;
  line-height: 1.0312;
}
.<%= prefix %><%= selector %>--bizzaro {
  font-size: 5.6569em;
  line-height: 0.9944;
}
.<%= prefix %><%= selector %>--1x {
  font-size: 1em;
}
.<%= prefix %><%= selector %>--2x {
  font-size: 2em;
}
.<%= prefix %><%= selector %>--3x {
  font-size: 3em;
}
.<%= prefix %><%= selector %>--4x {
  font-size: 4em;
}
.<%= prefix %><%= selector %>--5x {
  font-size: 5em;
}
.<%= prefix %><%= selector %>--6x {
  font-size: 6em;
}
.<%= prefix %><%= selector %>--7x {
  font-size: 7em;
}
.<%= prefix %><%= selector %>--8x {
  font-size: 8em;
}
.<%= prefix %><%= selector %>--9x {
  font-size: 9em;
}
.<%= prefix %><%= selector %>--10x {
  font-size: 10em;
}
.<%= prefix %><%= selector %>--fw {
  width: 1.25em;
  text-align: center;
}
.<%= prefix %><%= selector %>--ul {
  list-style-type: none;
  margin-left: 2.5rem;
  padding-left: 0rem;
}
.<%= prefix %><%= selector %>--ul > li {
  position: relative;
}
.<%= prefix %><%= selector %>--li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}
.<%= prefix %><%= selector %>--border {
  border: _v;
  border-radius: 3px;
  padding: 0.2rem 0.25rem 0.15rem;
}
.<%= prefix %><%= selector %>--pull-left {
  float: left;
}
.<%= prefix %><%= selector %>--pull-right {
  float: right;
}
.<%= prefix %><%= selector %>.<%= prefix %><%= selector %>--pull-left {
  margin-right: 0.3rem;
}
.<%= prefix %><%= selector %>.<%= prefix %><%= selector %>--pull-right {
  margin-left: 0.3rem;
}
.<%= prefix %><%= selector %>-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}
.<%= prefix %><%= selector %>-stack-1x,
.<%= prefix %><%= selector %>-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.<%= prefix %><%= selector %>-stack-1x {
  line-height: inherit;
}
.<%= prefix %><%= selector %>-stack-2x {
  font-size: 2em;
}
.<%= prefix %><%= selector %>-stack-inverse {
  color: #d8d8d8;
}

<% _.each(glyphs, function(glyph) { %>.<%= prefix %><%= selector %>-<%= glyph.name %>:before { content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>" }
<% }); %>

