-
	var icShowcase = [
		{ name: "3d-subd", variable: "$ic-3d-subd", char: "\\\F109" }, 
		{ name: "3d-tris", variable: "$ic-3d-tris", char: "\\\F10A" }, 
		{ name: "3d-verts", variable: "$ic-3d-verts", char: "\\\F10B" }, 
		{ name: "3d-voxels", variable: "$ic-3d-voxels", char: "\\\F10C" }, 
		{ name: "badge-designed-with", variable: "$ic-badge-designed-with", char: "\\\EE4D" }, 
		{ name: "cult-biohazard", variable: "$ic-cult-biohazard", char: "\\\F555" }, 
		{ name: "cult-covid-19", variable: "$ic-cult-covid-19", char: "\\\F556" }, 
		{ name: "cult-hindu-swastika", variable: "$ic-cult-hindu-swastika", char: "\\\F557" }, 
		{ name: "cult-jack-o-lantern", variable: "$ic-cult-jack-o-lantern", char: "\\\F558" }, 
		{ name: "cult-jive-belarus", variable: "$ic-cult-jive-belarus", char: "\\\F559" }, 
		{ name: "cult-kolowrot", variable: "$ic-cult-kolowrot", char: "\\\F55A" }, 
		{ name: "cult-orthodox", variable: "$ic-cult-orthodox", char: "\\\F55B" }, 
		{ name: "cult-satanism", variable: "$ic-cult-satanism", char: "\\\F55C" }, 
		{ name: "cult-skull", variable: "$ic-cult-skull", char: "\\\F55D" }, 
		{ name: "dev-css3-alt", variable: "$ic-dev-css3-alt", char: "\\\F429" }, 
		{ name: "dev-css3", variable: "$ic-dev-css3", char: "\\\F4F0" }, 
		{ name: "dev-git-square", variable: "$ic-dev-git-square", char: "\\\F42A" }, 
		{ name: "dev-git", variable: "$ic-dev-git", char: "\\\F4EF" }, 
		{ name: "dev-html5", variable: "$ic-dev-html5", char: "\\\F42B" }, 
		{ name: "dev-js-deliver", variable: "$ic-dev-js-deliver", char: "\\\F42C" }, 
		{ name: "dev-js-square", variable: "$ic-dev-js-square", char: "\\\F42D" }, 
		{ name: "dev-js", variable: "$ic-dev-js", char: "\\\F4EE" }, 
		{ name: "dev-markdown", variable: "$ic-dev-markdown", char: "\\\F4ED" }, 
		{ name: "dev-node", variable: "$ic-dev-node", char: "\\\F42E" }, 
		{ name: "dev-npm", variable: "$ic-dev-npm", char: "\\\F4EC" }, 
		{ name: "dev-processwire", variable: "$ic-dev-processwire", char: "\\\F42F" }, 
		{ name: "dev-python", variable: "$ic-dev-python", char: "\\\F4EB" }, 
		{ name: "dev-stylus", variable: "$ic-dev-stylus", char: "\\\F430" }, 
		{ name: "dev-wordpress", variable: "$ic-dev-wordpress", char: "\\\F431" }, 
		{ name: "doc-3ds", variable: "$ic-doc-3ds", char: "\\\F16D" }, 
		{ name: "doc-ae", variable: "$ic-doc-ae", char: "\\\F16E" }, 
		{ name: "doc-afdesign", variable: "$ic-doc-afdesign", char: "\\\F16F" }, 
		{ name: "doc-afphoto", variable: "$ic-doc-afphoto", char: "\\\F170" }, 
		{ name: "doc-afpub", variable: "$ic-doc-afpub", char: "\\\F171" }, 
		{ name: "doc-ai", variable: "$ic-doc-ai", char: "\\\F172" }, 
		{ name: "doc-archive", variable: "$ic-doc-archive", char: "\\\F173" }, 
		{ name: "doc-blank", variable: "$ic-doc-blank", char: "\\\F174" }, 
		{ name: "doc-blend", variable: "$ic-doc-blend", char: "\\\F175" }, 
		{ name: "doc-corel", variable: "$ic-doc-corel", char: "\\\F176" }, 
		{ name: "doc-fbx", variable: "$ic-doc-fbx", char: "\\\F177" }, 
		{ name: "doc-fusion", variable: "$ic-doc-fusion", char: "\\\F178" }, 
		{ name: "doc-id", variable: "$ic-doc-id", char: "\\\F179" }, 
		{ name: "doc-js", variable: "$ic-doc-js", char: "\\\F17A" }, 
		{ name: "doc-obj", variable: "$ic-doc-obj", char: "\\\F17B" }, 
		{ name: "doc-pdf", variable: "$ic-doc-pdf", char: "\\\F17C" }, 
		{ name: "doc-pr", variable: "$ic-doc-pr", char: "\\\F17D" }, 
		{ name: "doc-ps", variable: "$ic-doc-ps", char: "\\\F17E" }, 
		{ name: "doc-resolve", variable: "$ic-doc-resolve", char: "\\\F17F" }, 
		{ name: "doc-wave", variable: "$ic-doc-wave", char: "\\\F180" }, 
		{ name: "finance-amazon-pay", variable: "$ic-finance-amazon-pay", char: "\\\F040" }, 
		{ name: "finance-apple-pay", variable: "$ic-finance-apple-pay", char: "\\\F03F" }, 
		{ name: "finance-bitcoin", variable: "$ic-finance-bitcoin", char: "\\\F03E" }, 
		{ name: "finance-blockonomics", variable: "$ic-finance-blockonomics", char: "\\\EFDD" }, 
		{ name: "finance-btc", variable: "$ic-finance-btc", char: "\\\F03D" }, 
		{ name: "finance-buymeacoffee", variable: "$ic-finance-buymeacoffee", char: "\\\EFDE" }, 
		{ name: "finance-cc-amazon-pay", variable: "$ic-finance-cc-amazon-pay", char: "\\\F03C" }, 
		{ name: "finance-cc-amex", variable: "$ic-finance-cc-amex", char: "\\\F03B" }, 
		{ name: "finance-cc-apple-pay", variable: "$ic-finance-cc-apple-pay", char: "\\\F03A" }, 
		{ name: "finance-cc-diners-club", variable: "$ic-finance-cc-diners-club", char: "\\\F039" }, 
		{ name: "finance-cc-discover", variable: "$ic-finance-cc-discover", char: "\\\F038" }, 
		{ name: "finance-cc-jcb", variable: "$ic-finance-cc-jcb", char: "\\\F037" }, 
		{ name: "finance-cc-mastercard", variable: "$ic-finance-cc-mastercard", char: "\\\F036" }, 
		{ name: "finance-cc-paypal", variable: "$ic-finance-cc-paypal", char: "\\\F035" }, 
		{ name: "finance-cc-stripe", variable: "$ic-finance-cc-stripe", char: "\\\F034" }, 
		{ name: "finance-cc-visa", variable: "$ic-finance-cc-visa", char: "\\\F033" }, 
		{ name: "finance-dash-circle", variable: "$ic-finance-dash-circle", char: "\\\EFDF" }, 
		{ name: "finance-dash", variable: "$ic-finance-dash", char: "\\\EFE0" }, 
		{ name: "finance-embily-circle", variable: "$ic-finance-embily-circle", char: "\\\EFE1" }, 
		{ name: "finance-embily", variable: "$ic-finance-embily", char: "\\\EFE2" }, 
		{ name: "finance-emercoin", variable: "$ic-finance-emercoin", char: "\\\EFE3" }, 
		{ name: "finance-etherium", variable: "$ic-finance-etherium", char: "\\\EFE4" }, 
		{ name: "finance-ko-fi-circle", variable: "$ic-finance-ko-fi-circle", char: "\\\EFE5" }, 
		{ name: "finance-ko-fi", variable: "$ic-finance-ko-fi", char: "\\\EFE6" }, 
		{ name: "finance-liberapay-square", variable: "$ic-finance-liberapay-square", char: "\\\EFE7" }, 
		{ name: "finance-liberapay", variable: "$ic-finance-liberapay", char: "\\\EFE8" }, 
		{ name: "finance-litecoin", variable: "$ic-finance-litecoin", char: "\\\EFE9" }, 
		{ name: "finance-mastercard", variable: "$ic-finance-mastercard", char: "\\\EFEA" }, 
		{ name: "finance-patreon-circle", variable: "$ic-finance-patreon-circle", char: "\\\EFEB" }, 
		{ name: "finance-patreon-square", variable: "$ic-finance-patreon-square", char: "\\\EFEC" }, 
		{ name: "finance-patreon", variable: "$ic-finance-patreon", char: "\\\F032" }, 
		{ name: "finance-paypal", variable: "$ic-finance-paypal", char: "\\\F031" }, 
		{ name: "finance-ttmcard", variable: "$ic-finance-ttmcard", char: "\\\EFED" }, 
		{ name: "finance-webmoney", variable: "$ic-finance-webmoney", char: "\\\EFEE" }, 
		{ name: "gem-asscher", variable: "$ic-gem-asscher", char: "\\\F5B9" }, 
		{ name: "gem-cushion", variable: "$ic-gem-cushion", char: "\\\F5BA" }, 
		{ name: "gem-emerald", variable: "$ic-gem-emerald", char: "\\\F5BB" }, 
		{ name: "gem-heart", variable: "$ic-gem-heart", char: "\\\F5BC" }, 
		{ name: "gem-marquise", variable: "$ic-gem-marquise", char: "\\\F5BD" }, 
		{ name: "gem-oval", variable: "$ic-gem-oval", char: "\\\F5BE" }, 
		{ name: "gem-pear", variable: "$ic-gem-pear", char: "\\\F5BF" }, 
		{ name: "gem-princess", variable: "$ic-gem-princess", char: "\\\F5C0" }, 
		{ name: "gem-radiant", variable: "$ic-gem-radiant", char: "\\\F5C1" }, 
		{ name: "gem-round", variable: "$ic-gem-round", char: "\\\F5C2" }, 
		{ name: "grafx-alpha", variable: "$ic-grafx-alpha", char: "\\\F0A5" }, 
		{ name: "grafx-bezier", variable: "$ic-grafx-bezier", char: "\\\F0A6" }, 
		{ name: "grafx-cmy", variable: "$ic-grafx-cmy", char: "\\\F0A7" }, 
		{ name: "grafx-cubic-spline", variable: "$ic-grafx-cubic-spline", char: "\\\F0A8" }, 
		{ name: "grafx-dimensions", variable: "$ic-grafx-dimensions", char: "\\\F0A9" }, 
		{ name: "grafx-dpi", variable: "$ic-grafx-dpi", char: "\\\F0AA" }, 
		{ name: "grafx-height", variable: "$ic-grafx-height", char: "\\\F0AB" }, 
		{ name: "grafx-layers", variable: "$ic-grafx-layers", char: "\\\F0AC" }, 
		{ name: "grafx-ppi", variable: "$ic-grafx-ppi", char: "\\\F0AD" }, 
		{ name: "grafx-resolution", variable: "$ic-grafx-resolution", char: "\\\F0AE" }, 
		{ name: "grafx-rgb", variable: "$ic-grafx-rgb", char: "\\\F0AF" }, 
		{ name: "grafx-width", variable: "$ic-grafx-width", char: "\\\F0B0" }, 
		{ name: "lic-agpl-v3", variable: "$ic-lic-agpl-v3", char: "\\\F3C5" }, 
		{ name: "lic-creative-commons-by", variable: "$ic-lic-creative-commons-by", char: "\\\F428" }, 
		{ name: "lic-creative-commons-nc-eu", variable: "$ic-lic-creative-commons-nc-eu", char: "\\\F427" }, 
		{ name: "lic-creative-commons-nc-jp", variable: "$ic-lic-creative-commons-nc-jp", char: "\\\F426" }, 
		{ name: "lic-creative-commons-nc", variable: "$ic-lic-creative-commons-nc", char: "\\\F425" }, 
		{ name: "lic-creative-commons-nd", variable: "$ic-lic-creative-commons-nd", char: "\\\F424" }, 
		{ name: "lic-creative-commons-pd-alt", variable: "$ic-lic-creative-commons-pd-alt", char: "\\\F423" }, 
		{ name: "lic-creative-commons-pd", variable: "$ic-lic-creative-commons-pd", char: "\\\F422" }, 
		{ name: "lic-creative-commons-remix", variable: "$ic-lic-creative-commons-remix", char: "\\\F421" }, 
		{ name: "lic-creative-commons-sa", variable: "$ic-lic-creative-commons-sa", char: "\\\F420" }, 
		{ name: "lic-creative-commons-sampling-plus", variable: "$ic-lic-creative-commons-sampling-plus", char: "\\\F41F" }, 
		{ name: "lic-creative-commons-sampling", variable: "$ic-lic-creative-commons-sampling", char: "\\\F41E" }, 
		{ name: "lic-creative-commons-share", variable: "$ic-lic-creative-commons-share", char: "\\\F41D" }, 
		{ name: "lic-creative-commons-zero", variable: "$ic-lic-creative-commons-zero", char: "\\\F41C" }, 
		{ name: "lic-creative-commons", variable: "$ic-lic-creative-commons", char: "\\\F41B" }, 
		{ name: "lic-gpl-v3", variable: "$ic-lic-gpl-v3", char: "\\\F3C6" }, 
		{ name: "lic-lgpl-v3", variable: "$ic-lic-lgpl-v3", char: "\\\F3C7" }, 
		{ name: "lic-mit", variable: "$ic-lic-mit", char: "\\\F3C8" }, 
		{ name: "logo-android-2019", variable: "$ic-logo-android-2019", char: "\\\EDE9" }, 
		{ name: "logo-android", variable: "$ic-logo-android", char: "\\\EE4C" }, 
		{ name: "logo-apple", variable: "$ic-logo-apple", char: "\\\EE4B" }, 
		{ name: "logo-aws", variable: "$ic-logo-aws", char: "\\\EE4A" }, 
		{ name: "logo-chec-square", variable: "$ic-logo-chec-square", char: "\\\EDEA" }, 
		{ name: "logo-chec", variable: "$ic-logo-chec", char: "\\\EDEB" }, 
		{ name: "logo-creative-cloud", variable: "$ic-logo-creative-cloud", char: "\\\EDEC" }, 
		{ name: "logo-dropbox", variable: "$ic-logo-dropbox", char: "\\\EE49" }, 
		{ name: "logo-freelancer_com", variable: "$ic-logo-freelancer_com", char: "\\\EDED" }, 
		{ name: "logo-github-alt", variable: "$ic-logo-github-alt", char: "\\\EE48" }, 
		{ name: "logo-github-square", variable: "$ic-logo-github-square", char: "\\\EE47" }, 
		{ name: "logo-github", variable: "$ic-logo-github", char: "\\\EDEE" }, 
		{ name: "logo-gitlab-square", variable: "$ic-logo-gitlab-square", char: "\\\EDEF" }, 
		{ name: "logo-gitlab", variable: "$ic-logo-gitlab", char: "\\\EE46" }, 
		{ name: "logo-google-drive", variable: "$ic-logo-google-drive", char: "\\\EE45" }, 
		{ name: "logo-google", variable: "$ic-logo-google", char: "\\\EE44" }, 
		{ name: "logo-gumroad-square", variable: "$ic-logo-gumroad-square", char: "\\\EDF0" }, 
		{ name: "logo-gumroad", variable: "$ic-logo-gumroad", char: "\\\EDF1" }, 
		{ name: "logo-html5", variable: "$ic-logo-html5", char: "\\\EE43" }, 
		{ name: "logo-itunes", variable: "$ic-logo-itunes", char: "\\\EE42" }, 
		{ name: "logo-lets-encrypt", variable: "$ic-logo-lets-encrypt", char: "\\\EDF2" }, 
		{ name: "logo-marxco", variable: "$ic-logo-marxco", char: "\\\EDF3" }, 
		{ name: "logo-mediafire", variable: "$ic-logo-mediafire", char: "\\\EDF4" }, 
		{ name: "logo-mega-nz", variable: "$ic-logo-mega-nz", char: "\\\EDF5" }, 
		{ name: "logo-microsoft", variable: "$ic-logo-microsoft", char: "\\\EE41" }, 
		{ name: "logo-nintendo-switch", variable: "$ic-logo-nintendo-switch", char: "\\\EE40" }, 
		{ name: "logo-openinitiative", variable: "$ic-logo-openinitiative", char: "\\\EDF6" }, 
		{ name: "logo-origin", variable: "$ic-logo-origin", char: "\\\EDF7" }, 
		{ name: "logo-toogit-square", variable: "$ic-logo-toogit-square", char: "\\\EDF8" }, 
		{ name: "logo-toogit", variable: "$ic-logo-toogit", char: "\\\EDF9" }, 
		{ name: "logo-upwork-square", variable: "$ic-logo-upwork-square", char: "\\\EDFA" }, 
		{ name: "logo-upwork", variable: "$ic-logo-upwork", char: "\\\EDFB" }, 
		{ name: "market-amazon", variable: "$ic-market-amazon", char: "\\\F0A4" }, 
		{ name: "market-app-store-ios", variable: "$ic-market-app-store-ios", char: "\\\F0A3" }, 
		{ name: "market-app-store", variable: "$ic-market-app-store", char: "\\\F0A2" }, 
		{ name: "market-buysellads", variable: "$ic-market-buysellads", char: "\\\F0A1" }, 
		{ name: "market-cgtrader-square", variable: "$ic-market-cgtrader-square", char: "\\\F041" }, 
		{ name: "market-cgtrader", variable: "$ic-market-cgtrader", char: "\\\F042" }, 
		{ name: "market-envato-square", variable: "$ic-market-envato-square", char: "\\\F043" }, 
		{ name: "market-envato", variable: "$ic-market-envato", char: "\\\F044" }, 
		{ name: "market-etsy-square", variable: "$ic-market-etsy-square", char: "\\\F045" }, 
		{ name: "market-etsy", variable: "$ic-market-etsy", char: "\\\F046" }, 
		{ name: "market-f-droid", variable: "$ic-market-f-droid", char: "\\\F047" }, 
		{ name: "market-google-play", variable: "$ic-market-google-play", char: "\\\F0A0" }, 
		{ name: "market-turbosquid-square", variable: "$ic-market-turbosquid-square", char: "\\\F048" }, 
		{ name: "market-turbosquid", variable: "$ic-market-turbosquid", char: "\\\F049" }, 
		{ name: "polit-anarchy", variable: "$ic-polit-anarchy", char: "\\\F4F1" }, 
		{ name: "polit-communism", variable: "$ic-polit-communism", char: "\\\F4F2" }, 
		{ name: "polit-juche", variable: "$ic-polit-juche", char: "\\\F4F3" }, 
		{ name: "polit-uk", variable: "$ic-polit-uk", char: "\\\F4F4" }, 
		{ name: "social-500px", variable: "$ic-social-500px", char: "\\\EFDC" }, 
		{ name: "social-alternativeto-a-square", variable: "$ic-social-alternativeto-a-square", char: "\\\EEB1" }, 
		{ name: "social-alternativeto-a", variable: "$ic-social-alternativeto-a", char: "\\\EEB2" }, 
		{ name: "social-alternativeto-square", variable: "$ic-social-alternativeto-square", char: "\\\EEB3" }, 
		{ name: "social-alternativeto", variable: "$ic-social-alternativeto", char: "\\\EEB4" }, 
		{ name: "social-artstation", variable: "$ic-social-artstation", char: "\\\EEB5" }, 
		{ name: "social-behance-square", variable: "$ic-social-behance-square", char: "\\\EEB6" }, 
		{ name: "social-behance", variable: "$ic-social-behance", char: "\\\EFDB" }, 
		{ name: "social-bitbucket", variable: "$ic-social-bitbucket", char: "\\\EFDA" }, 
		{ name: "social-blogger-b", variable: "$ic-social-blogger-b", char: "\\\EFD9" }, 
		{ name: "social-blogger", variable: "$ic-social-blogger", char: "\\\EFD8" }, 
		{ name: "social-codepen", variable: "$ic-social-codepen", char: "\\\EFD7" }, 
		{ name: "social-deviantart-square", variable: "$ic-social-deviantart-square", char: "\\\EEB7" }, 
		{ name: "social-deviantart", variable: "$ic-social-deviantart", char: "\\\EFD6" }, 
		{ name: "social-diaspora-a-square", variable: "$ic-social-diaspora-a-square", char: "\\\EEB8" }, 
		{ name: "social-diaspora-a", variable: "$ic-social-diaspora-a", char: "\\\EEB9" }, 
		{ name: "social-diaspora-circle", variable: "$ic-social-diaspora-circle", char: "\\\EEBA" }, 
		{ name: "social-diaspora-square", variable: "$ic-social-diaspora-square", char: "\\\EEBB" }, 
		{ name: "social-diaspora", variable: "$ic-social-diaspora", char: "\\\EEBC" }, 
		{ name: "social-discord", variable: "$ic-social-discord", char: "\\\EFD5" }, 
		{ name: "social-disroot", variable: "$ic-social-disroot", char: "\\\EEBD" }, 
		{ name: "social-facebook-f", variable: "$ic-social-facebook-f", char: "\\\EFD4" }, 
		{ name: "social-facebook-messenger", variable: "$ic-social-facebook-messenger", char: "\\\EFD3" }, 
		{ name: "social-facebook-square", variable: "$ic-social-facebook-square", char: "\\\EEBE" }, 
		{ name: "social-facebook", variable: "$ic-social-facebook", char: "\\\EFD2" }, 
		{ name: "social-flickr-square", variable: "$ic-social-flickr-square", char: "\\\EEBF" }, 
		{ name: "social-flickr", variable: "$ic-social-flickr", char: "\\\EFD1" }, 
		{ name: "social-jsfiddle", variable: "$ic-social-jsfiddle", char: "\\\EFD0" }, 
		{ name: "social-lastfm-square", variable: "$ic-social-lastfm-square", char: "\\\EEC0" }, 
		{ name: "social-lastfm", variable: "$ic-social-lastfm", char: "\\\EFCF" }, 
		{ name: "social-linkedin-in", variable: "$ic-social-linkedin-in", char: "\\\EFCE" }, 
		{ name: "social-linkedin-square", variable: "$ic-social-linkedin-square", char: "\\\EEC1" }, 
		{ name: "social-linkedin", variable: "$ic-social-linkedin", char: "\\\EFCD" }, 
		{ name: "social-mastodon-square", variable: "$ic-social-mastodon-square", char: "\\\EEC2" }, 
		{ name: "social-mastodon", variable: "$ic-social-mastodon", char: "\\\EFCC" }, 
		{ name: "social-medium-m", variable: "$ic-social-medium-m", char: "\\\EFCB" }, 
		{ name: "social-medium-square", variable: "$ic-social-medium-square", char: "\\\EEC3" }, 
		{ name: "social-medium", variable: "$ic-social-medium", char: "\\\EFCA" }, 
		{ name: "social-pawoo-square", variable: "$ic-social-pawoo-square", char: "\\\EEC4" }, 
		{ name: "social-pawoo", variable: "$ic-social-pawoo", char: "\\\EEC5" }, 
		{ name: "social-pinterest-p", variable: "$ic-social-pinterest-p", char: "\\\EFC9" }, 
		{ name: "social-pinterest-square", variable: "$ic-social-pinterest-square", char: "\\\EEC6" }, 
		{ name: "social-pinterest", variable: "$ic-social-pinterest", char: "\\\EFC8" }, 
		{ name: "social-soundcloud", variable: "$ic-social-soundcloud", char: "\\\EFC7" }, 
		{ name: "social-stack-exchange", variable: "$ic-social-stack-exchange", char: "\\\EFC6" }, 
		{ name: "social-stack-overflow", variable: "$ic-social-stack-overflow", char: "\\\EFC5" }, 
		{ name: "social-steam-square", variable: "$ic-social-steam-square", char: "\\\EEC7" }, 
		{ name: "social-steam-symbol", variable: "$ic-social-steam-symbol", char: "\\\EFC4" }, 
		{ name: "social-steam", variable: "$ic-social-steam", char: "\\\EFC3" }, 
		{ name: "social-steemit-square", variable: "$ic-social-steemit-square", char: "\\\EEC8" }, 
		{ name: "social-steemit", variable: "$ic-social-steemit", char: "\\\EEC9" }, 
		{ name: "social-tumblr-square", variable: "$ic-social-tumblr-square", char: "\\\EECA" }, 
		{ name: "social-tumblr", variable: "$ic-social-tumblr", char: "\\\EFC2" }, 
		{ name: "social-twitch", variable: "$ic-social-twitch", char: "\\\EFC1" }, 
		{ name: "social-twitter-square", variable: "$ic-social-twitter-square", char: "\\\EECB" }, 
		{ name: "social-twitter", variable: "$ic-social-twitter", char: "\\\EFC0" }, 
		{ name: "social-vimeo-square", variable: "$ic-social-vimeo-square", char: "\\\EECC" }, 
		{ name: "social-vimeo", variable: "$ic-social-vimeo", char: "\\\EFBF" }, 
		{ name: "social-weibo", variable: "$ic-social-weibo", char: "\\\EFBE" }, 
		{ name: "social-wikipedia-w", variable: "$ic-social-wikipedia-w", char: "\\\EFBD" }, 
		{ name: "social-xing-square", variable: "$ic-social-xing-square", char: "\\\EECD" }, 
		{ name: "social-xing", variable: "$ic-social-xing", char: "\\\EFBC" }, 
		{ name: "social-youtube-square", variable: "$ic-social-youtube-square", char: "\\\EECE" }, 
		{ name: "social-youtube", variable: "$ic-social-youtube", char: "\\\EFBB" }, 
		{ name: "software-chrome", variable: "$ic-software-chrome", char: "\\\F3C4" }, 
		{ name: "software-edge", variable: "$ic-software-edge", char: "\\\F3C3" }, 
		{ name: "software-firefox", variable: "$ic-software-firefox", char: "\\\F3C2" }, 
		{ name: "software-hangout", variable: "$ic-software-hangout", char: "\\\F361" }, 
		{ name: "software-internet-explorer", variable: "$ic-software-internet-explorer", char: "\\\F3C1" }, 
		{ name: "software-skype", variable: "$ic-software-skype", char: "\\\F3C0" }, 
		{ name: "software-slack-hash", variable: "$ic-software-slack-hash", char: "\\\F362" }, 
		{ name: "software-slack-square", variable: "$ic-software-slack-square", char: "\\\F363" }, 
		{ name: "software-slack", variable: "$ic-software-slack", char: "\\\F364" }, 
		{ name: "software-viber", variable: "$ic-software-viber", char: "\\\F365" }, 
		{ name: "software-weixin", variable: "$ic-software-weixin", char: "\\\F3BF" }, 
		{ name: "software-whatsapp-square", variable: "$ic-software-whatsapp-square", char: "\\\F366" }, 
		{ name: "software-whatsapp", variable: "$ic-software-whatsapp", char: "\\\F3BE" }, 
		{ name: "software-windows", variable: "$ic-software-windows", char: "\\\F3BD" }, 
		{ name: "userpic-boy", variable: "$ic-userpic-boy", char: "\\\F61D" }, 
		{ name: "userpic-girl", variable: "$ic-userpic-girl", char: "\\\F61E" }, 
		{ name: "userpic-man", variable: "$ic-userpic-man", char: "\\\F61F" }, 
		{ name: "userpic-women", variable: "$ic-userpic-women", char: "\\\F620" }, 
		{ name: "add-s", variable: "$ic-add-s", char: "\\\EA01" }, 
		{ name: "add", variable: "$ic-add", char: "\\\EA02" }, 
		{ name: "arrow-down", variable: "$ic-arrow-down", char: "\\\EA03" }, 
		{ name: "arrow-left", variable: "$ic-arrow-left", char: "\\\EA04" }, 
		{ name: "arrow-right", variable: "$ic-arrow-right", char: "\\\EA05" }, 
		{ name: "arrow-up", variable: "$ic-arrow-up", char: "\\\EA06" }, 
		{ name: "caret-down", variable: "$ic-caret-down", char: "\\\EA07" }, 
		{ name: "caret-left", variable: "$ic-caret-left", char: "\\\EA08" }, 
		{ name: "caret-right", variable: "$ic-caret-right", char: "\\\EA09" }, 
		{ name: "caret-up", variable: "$ic-caret-up", char: "\\\EA0A" }, 
		{ name: "chackbox-s-checked", variable: "$ic-chackbox-s-checked", char: "\\\EA0B" }, 
		{ name: "chackbox-s", variable: "$ic-chackbox-s", char: "\\\EA0C" }, 
		{ name: "checkbox-checked", variable: "$ic-checkbox-checked", char: "\\\EA0D" }, 
		{ name: "checkbox-mark", variable: "$ic-checkbox-mark", char: "\\\EA0E" }, 
		{ name: "checkbox", variable: "$ic-checkbox", char: "\\\EA0F" }, 
		{ name: "chevrone-down", variable: "$ic-chevrone-down", char: "\\\EA10" }, 
		{ name: "chevrone-left", variable: "$ic-chevrone-left", char: "\\\EA11" }, 
		{ name: "chevrone-right", variable: "$ic-chevrone-right", char: "\\\EA12" }, 
		{ name: "chevrone-up", variable: "$ic-chevrone-up", char: "\\\EA13" }, 
		{ name: "circle-s", variable: "$ic-circle-s", char: "\\\EA14" }, 
		{ name: "circle", variable: "$ic-circle", char: "\\\EA15" }, 
		{ name: "clipboard", variable: "$ic-clipboard", char: "\\\EA16" }, 
		{ name: "copy", variable: "$ic-copy", char: "\\\EA17" }, 
		{ name: "cross", variable: "$ic-cross", char: "\\\EA18" }, 
		{ name: "debug-block", variable: "$ic-debug-block", char: "\\\EA19" }, 
		{ name: "download", variable: "$ic-download", char: "\\\EA1A" }, 
		{ name: "edit-object", variable: "$ic-edit-object", char: "\\\EA1B" }, 
		{ name: "edit", variable: "$ic-edit", char: "\\\EA1C" }, 
		{ name: "envelope", variable: "$ic-envelope", char: "\\\EA1D" }, 
		{ name: "erase", variable: "$ic-erase", char: "\\\EA1E" }, 
		{ name: "gallery-circles", variable: "$ic-gallery-circles", char: "\\\EA1F" }, 
		{ name: "gallery", variable: "$ic-gallery", char: "\\\EA20" }, 
		{ name: "hamburger", variable: "$ic-hamburger", char: "\\\EA21" }, 
		{ name: "heart", variable: "$ic-heart", char: "\\\EA22" }, 
		{ name: "list", variable: "$ic-list", char: "\\\EA23" }, 
		{ name: "move-down", variable: "$ic-move-down", char: "\\\EA24" }, 
		{ name: "move-left", variable: "$ic-move-left", char: "\\\EA25" }, 
		{ name: "move-right", variable: "$ic-move-right", char: "\\\EA26" }, 
		{ name: "move-up", variable: "$ic-move-up", char: "\\\EA27" }, 
		{ name: "paste", variable: "$ic-paste", char: "\\\EA28" }, 
		{ name: "radio-button-checked", variable: "$ic-radio-button-checked", char: "\\\EA29" }, 
		{ name: "radio-button", variable: "$ic-radio-button", char: "\\\EA2A" }, 
		{ name: "remove-s", variable: "$ic-remove-s", char: "\\\EA2B" }, 
		{ name: "remove", variable: "$ic-remove", char: "\\\EA2C" }, 
		{ name: "rss", variable: "$ic-rss", char: "\\\EA2D" }, 
		{ name: "search", variable: "$ic-search", char: "\\\EA2E" }, 
		{ name: "square-s", variable: "$ic-square-s", char: "\\\EA2F" }, 
		{ name: "square", variable: "$ic-square", char: "\\\EA30" }, 
		{ name: "squircle-s", variable: "$ic-squircle-s", char: "\\\EA31" }, 
		{ name: "squircle", variable: "$ic-squircle", char: "\\\EA32" }, 
		{ name: "star-half", variable: "$ic-star-half", char: "\\\EA33" }, 
		{ name: "star-solid", variable: "$ic-star-solid", char: "\\\EA34" }, 
		{ name: "star", variable: "$ic-star", char: "\\\EA35" }, 
		{ name: "upload", variable: "$ic-upload", char: "\\\EA36" }, 
		{ name: "weight", variable: "$ic-weight", char: "\\\EA37" }, 
		{ name: "zoom-in", variable: "$ic-zoom-in", char: "\\\EA38" }, 
		{ name: "zoom-out", variable: "$ic-zoom-out", char: "\\\EA39" }, 
	]