@font-face {
  font-family: "Marxco Icons CS";
  src: url("../font/Marxco Icons CS.eot?v=jcyVl8J2SG");
  src: url("../font/Marxco Icons CS.eot?#iefix&v=jcyVl8J2SG") format('embedded-opentype'), url("../font/Marxco Icons CS.woff2?v=jcyVl8J2SG") format('woff2'), url("../font/Marxco Icons CS.woff?v=jcyVl8J2SG") format('woff'), url("../font/Marxco Icons CS.ttf?v=jcyVl8J2SG") format('truetype'), url("../font/Marxco Icons CS.svg#Marxco%20Icons%20CS?v=jcyVl8J2SG") format('svg');
  font-weight: normal;
  font-style: normal;
}
.mrx_ic {
  display: inline-block;
  font-weight: normal !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-family: 'Marxco Icons CS' !important;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mrx_ic--lg {
  font-size: 1.333333333333333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}
.mrx_ic--xs {
  font-size: 0.75em;
}
.mrx_ic--sm {
  font-size: 0.875em;
}
.mrx_ic--footnotesize {
  font-size: 0.5em;
  line-height: 0.75;
}
.mrx_ic--small {
  font-size: 0.7071em;
  line-height: 1.0607;
}
.mrx_ic--big {
  font-size: 1.4142em;
  line-height: 1.0607;
}
.mrx_ic--large {
  font-size: 2em;
  line-height: 0.9375;
}
.mrx_ic--huge {
  font-size: 2.8284em;
  line-height: 1.0607;
}
.mrx_ic--great {
  font-size: 4em;
  line-height: 1.0312;
}
.mrx_ic--bizzaro {
  font-size: 5.6569em;
  line-height: 0.9944;
}
.mrx_ic--1x {
  font-size: 1em;
}
.mrx_ic--2x {
  font-size: 2em;
}
.mrx_ic--3x {
  font-size: 3em;
}
.mrx_ic--4x {
  font-size: 4em;
}
.mrx_ic--5x {
  font-size: 5em;
}
.mrx_ic--6x {
  font-size: 6em;
}
.mrx_ic--7x {
  font-size: 7em;
}
.mrx_ic--8x {
  font-size: 8em;
}
.mrx_ic--9x {
  font-size: 9em;
}
.mrx_ic--10x {
  font-size: 10em;
}
.mrx_ic--fw {
  width: 1.25em;
  text-align: center;
}
.mrx_ic--ul {
  list-style-type: none;
  margin-left: 2.5rem;
  padding-left: 0rem;
}
.mrx_ic--ul > li {
  position: relative;
}
.mrx_ic--ul--li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}
.mrx_ic--border {
  border: solid 0.08em #df3132;
  border-radius: 3px;
  padding: 0.2em 0.25em 0.15em;
}
.mrx_ic--pull-left {
  float: left;
}
.mrx_ic--pull-right {
  float: right;
}
.mrx_ic.mrx_ic--pull-left {
  margin-right: 0.3em;
}
.mrx_ic.mrx_ic--pull-right {
  margin-left: 0.3em;
}
.mrx_ic-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}
.mrx_ic-stack-1x,
.mrx_ic-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.mrx_ic-stack-1x {
  line-height: inherit;
}
.mrx_ic-stack-2x {
  font-size: 2em;
}
.mrx_ic-stack-inverse {
  color: #d8d8d8;
}
.mrx_ic-3d-subd:before {
  content: "\F109";
}
.mrx_ic-3d-tris:before {
  content: "\F10A";
}
.mrx_ic-3d-verts:before {
  content: "\F10B";
}
.mrx_ic-3d-voxels:before {
  content: "\F10C";
}
.mrx_ic-badge-designed-with:before {
  content: "\EE4D";
}
.mrx_ic-cult-biohazard:before {
  content: "\F555";
}
.mrx_ic-cult-covid-19:before {
  content: "\F556";
}
.mrx_ic-cult-hindu-swastika:before {
  content: "\F557";
}
.mrx_ic-cult-jack-o-lantern:before {
  content: "\F558";
}
.mrx_ic-cult-jive-belarus:before {
  content: "\F559";
}
.mrx_ic-cult-kolowrot:before {
  content: "\F55A";
}
.mrx_ic-cult-orthodox:before {
  content: "\F55B";
}
.mrx_ic-cult-satanism:before {
  content: "\F55C";
}
.mrx_ic-cult-skull:before {
  content: "\F55D";
}
.mrx_ic-dev-css3-alt:before {
  content: "\F429";
}
.mrx_ic-dev-css3:before {
  content: "\F4F0";
}
.mrx_ic-dev-git-square:before {
  content: "\F42A";
}
.mrx_ic-dev-git:before {
  content: "\F4EF";
}
.mrx_ic-dev-html5:before {
  content: "\F42B";
}
.mrx_ic-dev-js-deliver:before {
  content: "\F42C";
}
.mrx_ic-dev-js-square:before {
  content: "\F42D";
}
.mrx_ic-dev-js:before {
  content: "\F4EE";
}
.mrx_ic-dev-markdown:before {
  content: "\F4ED";
}
.mrx_ic-dev-node:before {
  content: "\F42E";
}
.mrx_ic-dev-npm:before {
  content: "\F4EC";
}
.mrx_ic-dev-processwire:before {
  content: "\F42F";
}
.mrx_ic-dev-python:before {
  content: "\F4EB";
}
.mrx_ic-dev-stylus:before {
  content: "\F430";
}
.mrx_ic-dev-wordpress:before {
  content: "\F431";
}
.mrx_ic-doc-3ds:before {
  content: "\F16D";
}
.mrx_ic-doc-ae:before {
  content: "\F16E";
}
.mrx_ic-doc-afdesign:before {
  content: "\F16F";
}
.mrx_ic-doc-afphoto:before {
  content: "\F170";
}
.mrx_ic-doc-afpub:before {
  content: "\F171";
}
.mrx_ic-doc-ai:before {
  content: "\F172";
}
.mrx_ic-doc-archive:before {
  content: "\F173";
}
.mrx_ic-doc-blank:before {
  content: "\F174";
}
.mrx_ic-doc-blend:before {
  content: "\F175";
}
.mrx_ic-doc-corel:before {
  content: "\F176";
}
.mrx_ic-doc-fbx:before {
  content: "\F177";
}
.mrx_ic-doc-fusion:before {
  content: "\F178";
}
.mrx_ic-doc-id:before {
  content: "\F179";
}
.mrx_ic-doc-js:before {
  content: "\F17A";
}
.mrx_ic-doc-obj:before {
  content: "\F17B";
}
.mrx_ic-doc-pdf:before {
  content: "\F17C";
}
.mrx_ic-doc-pr:before {
  content: "\F17D";
}
.mrx_ic-doc-ps:before {
  content: "\F17E";
}
.mrx_ic-doc-resolve:before {
  content: "\F17F";
}
.mrx_ic-doc-wave:before {
  content: "\F180";
}
.mrx_ic-finance-amazon-pay:before {
  content: "\F040";
}
.mrx_ic-finance-apple-pay:before {
  content: "\F03F";
}
.mrx_ic-finance-bitcoin:before {
  content: "\F03E";
}
.mrx_ic-finance-blockonomics:before {
  content: "\EFDD";
}
.mrx_ic-finance-btc:before {
  content: "\F03D";
}
.mrx_ic-finance-buymeacoffee:before {
  content: "\EFDE";
}
.mrx_ic-finance-cc-amazon-pay:before {
  content: "\F03C";
}
.mrx_ic-finance-cc-amex:before {
  content: "\F03B";
}
.mrx_ic-finance-cc-apple-pay:before {
  content: "\F03A";
}
.mrx_ic-finance-cc-diners-club:before {
  content: "\F039";
}
.mrx_ic-finance-cc-discover:before {
  content: "\F038";
}
.mrx_ic-finance-cc-jcb:before {
  content: "\F037";
}
.mrx_ic-finance-cc-mastercard:before {
  content: "\F036";
}
.mrx_ic-finance-cc-paypal:before {
  content: "\F035";
}
.mrx_ic-finance-cc-stripe:before {
  content: "\F034";
}
.mrx_ic-finance-cc-visa:before {
  content: "\F033";
}
.mrx_ic-finance-dash-circle:before {
  content: "\EFDF";
}
.mrx_ic-finance-dash:before {
  content: "\EFE0";
}
.mrx_ic-finance-embily-circle:before {
  content: "\EFE1";
}
.mrx_ic-finance-embily:before {
  content: "\EFE2";
}
.mrx_ic-finance-emercoin:before {
  content: "\EFE3";
}
.mrx_ic-finance-etherium:before {
  content: "\EFE4";
}
.mrx_ic-finance-ko-fi-circle:before {
  content: "\EFE5";
}
.mrx_ic-finance-ko-fi:before {
  content: "\EFE6";
}
.mrx_ic-finance-liberapay-square:before {
  content: "\EFE7";
}
.mrx_ic-finance-liberapay:before {
  content: "\EFE8";
}
.mrx_ic-finance-litecoin:before {
  content: "\EFE9";
}
.mrx_ic-finance-mastercard:before {
  content: "\EFEA";
}
.mrx_ic-finance-patreon-circle:before {
  content: "\EFEB";
}
.mrx_ic-finance-patreon-square:before {
  content: "\EFEC";
}
.mrx_ic-finance-patreon:before {
  content: "\F032";
}
.mrx_ic-finance-paypal:before {
  content: "\F031";
}
.mrx_ic-finance-ttmcard:before {
  content: "\EFED";
}
.mrx_ic-finance-webmoney:before {
  content: "\EFEE";
}
.mrx_ic-gem-asscher:before {
  content: "\F5B9";
}
.mrx_ic-gem-cushion:before {
  content: "\F5BA";
}
.mrx_ic-gem-emerald:before {
  content: "\F5BB";
}
.mrx_ic-gem-heart:before {
  content: "\F5BC";
}
.mrx_ic-gem-marquise:before {
  content: "\F5BD";
}
.mrx_ic-gem-oval:before {
  content: "\F5BE";
}
.mrx_ic-gem-pear:before {
  content: "\F5BF";
}
.mrx_ic-gem-princess:before {
  content: "\F5C0";
}
.mrx_ic-gem-radiant:before {
  content: "\F5C1";
}
.mrx_ic-gem-round:before {
  content: "\F5C2";
}
.mrx_ic-grafx-alpha:before {
  content: "\F0A5";
}
.mrx_ic-grafx-bezier:before {
  content: "\F0A6";
}
.mrx_ic-grafx-cmy:before {
  content: "\F0A7";
}
.mrx_ic-grafx-cubic-spline:before {
  content: "\F0A8";
}
.mrx_ic-grafx-dimensions:before {
  content: "\F0A9";
}
.mrx_ic-grafx-dpi:before {
  content: "\F0AA";
}
.mrx_ic-grafx-height:before {
  content: "\F0AB";
}
.mrx_ic-grafx-layers:before {
  content: "\F0AC";
}
.mrx_ic-grafx-ppi:before {
  content: "\F0AD";
}
.mrx_ic-grafx-resolution:before {
  content: "\F0AE";
}
.mrx_ic-grafx-rgb:before {
  content: "\F0AF";
}
.mrx_ic-grafx-width:before {
  content: "\F0B0";
}
.mrx_ic-lic-agpl-v3:before {
  content: "\F3C5";
}
.mrx_ic-lic-creative-commons-by:before {
  content: "\F428";
}
.mrx_ic-lic-creative-commons-nc-eu:before {
  content: "\F427";
}
.mrx_ic-lic-creative-commons-nc-jp:before {
  content: "\F426";
}
.mrx_ic-lic-creative-commons-nc:before {
  content: "\F425";
}
.mrx_ic-lic-creative-commons-nd:before {
  content: "\F424";
}
.mrx_ic-lic-creative-commons-pd-alt:before {
  content: "\F423";
}
.mrx_ic-lic-creative-commons-pd:before {
  content: "\F422";
}
.mrx_ic-lic-creative-commons-remix:before {
  content: "\F421";
}
.mrx_ic-lic-creative-commons-sa:before {
  content: "\F420";
}
.mrx_ic-lic-creative-commons-sampling-plus:before {
  content: "\F41F";
}
.mrx_ic-lic-creative-commons-sampling:before {
  content: "\F41E";
}
.mrx_ic-lic-creative-commons-share:before {
  content: "\F41D";
}
.mrx_ic-lic-creative-commons-zero:before {
  content: "\F41C";
}
.mrx_ic-lic-creative-commons:before {
  content: "\F41B";
}
.mrx_ic-lic-gpl-v3:before {
  content: "\F3C6";
}
.mrx_ic-lic-lgpl-v3:before {
  content: "\F3C7";
}
.mrx_ic-lic-mit:before {
  content: "\F3C8";
}
.mrx_ic-logo-android-2019:before {
  content: "\EDE9";
}
.mrx_ic-logo-android:before {
  content: "\EE4C";
}
.mrx_ic-logo-apple:before {
  content: "\EE4B";
}
.mrx_ic-logo-aws:before {
  content: "\EE4A";
}
.mrx_ic-logo-chec-square:before {
  content: "\EDEA";
}
.mrx_ic-logo-chec:before {
  content: "\EDEB";
}
.mrx_ic-logo-creative-cloud:before {
  content: "\EDEC";
}
.mrx_ic-logo-dropbox:before {
  content: "\EE49";
}
.mrx_ic-logo-freelancer_com:before {
  content: "\EDED";
}
.mrx_ic-logo-github-alt:before {
  content: "\EE48";
}
.mrx_ic-logo-github-square:before {
  content: "\EE47";
}
.mrx_ic-logo-github:before {
  content: "\EDEE";
}
.mrx_ic-logo-gitlab-square:before {
  content: "\EDEF";
}
.mrx_ic-logo-gitlab:before {
  content: "\EE46";
}
.mrx_ic-logo-google-drive:before {
  content: "\EE45";
}
.mrx_ic-logo-google:before {
  content: "\EE44";
}
.mrx_ic-logo-gumroad-square:before {
  content: "\EDF0";
}
.mrx_ic-logo-gumroad:before {
  content: "\EDF1";
}
.mrx_ic-logo-html5:before {
  content: "\EE43";
}
.mrx_ic-logo-itunes:before {
  content: "\EE42";
}
.mrx_ic-logo-lets-encrypt:before {
  content: "\EDF2";
}
.mrx_ic-logo-marxco:before {
  content: "\EDF3";
}
.mrx_ic-logo-mediafire:before {
  content: "\EDF4";
}
.mrx_ic-logo-mega-nz:before {
  content: "\EDF5";
}
.mrx_ic-logo-microsoft:before {
  content: "\EE41";
}
.mrx_ic-logo-nintendo-switch:before {
  content: "\EE40";
}
.mrx_ic-logo-openinitiative:before {
  content: "\EDF6";
}
.mrx_ic-logo-origin:before {
  content: "\EDF7";
}
.mrx_ic-logo-toogit-square:before {
  content: "\EDF8";
}
.mrx_ic-logo-toogit:before {
  content: "\EDF9";
}
.mrx_ic-logo-upwork-square:before {
  content: "\EDFA";
}
.mrx_ic-logo-upwork:before {
  content: "\EDFB";
}
.mrx_ic-market-amazon:before {
  content: "\F0A4";
}
.mrx_ic-market-app-store-ios:before {
  content: "\F0A3";
}
.mrx_ic-market-app-store:before {
  content: "\F0A2";
}
.mrx_ic-market-buysellads:before {
  content: "\F0A1";
}
.mrx_ic-market-cgtrader-square:before {
  content: "\F041";
}
.mrx_ic-market-cgtrader:before {
  content: "\F042";
}
.mrx_ic-market-envato-square:before {
  content: "\F043";
}
.mrx_ic-market-envato:before {
  content: "\F044";
}
.mrx_ic-market-etsy-square:before {
  content: "\F045";
}
.mrx_ic-market-etsy:before {
  content: "\F046";
}
.mrx_ic-market-f-droid:before {
  content: "\F047";
}
.mrx_ic-market-google-play:before {
  content: "\F0A0";
}
.mrx_ic-market-turbosquid-square:before {
  content: "\F048";
}
.mrx_ic-market-turbosquid:before {
  content: "\F049";
}
.mrx_ic-polit-anarchy:before {
  content: "\F4F1";
}
.mrx_ic-polit-communism:before {
  content: "\F4F2";
}
.mrx_ic-polit-democratic-party-us-modern:before {
  content: "\F4F6";
}
.mrx_ic-polit-democratic-party-us:before {
  content: "\F4F5";
}
.mrx_ic-polit-juche:before {
  content: "\F4F3";
}
.mrx_ic-polit-republican-party-us:before {
  content: "\F4F7";
}
.mrx_ic-polit-uk:before {
  content: "\F4F4";
}
.mrx_ic-social-500px:before {
  content: "\EFDC";
}
.mrx_ic-social-alternativeto-a-square:before {
  content: "\EEB1";
}
.mrx_ic-social-alternativeto-a:before {
  content: "\EEB2";
}
.mrx_ic-social-alternativeto-square:before {
  content: "\EEB3";
}
.mrx_ic-social-alternativeto:before {
  content: "\EEB4";
}
.mrx_ic-social-artstation:before {
  content: "\EEB5";
}
.mrx_ic-social-behance-square:before {
  content: "\EEB6";
}
.mrx_ic-social-behance:before {
  content: "\EFDB";
}
.mrx_ic-social-bitbucket:before {
  content: "\EFDA";
}
.mrx_ic-social-blogger-b:before {
  content: "\EFD9";
}
.mrx_ic-social-blogger:before {
  content: "\EFD8";
}
.mrx_ic-social-codepen:before {
  content: "\EFD7";
}
.mrx_ic-social-deviantart-square:before {
  content: "\EEB7";
}
.mrx_ic-social-deviantart:before {
  content: "\EFD6";
}
.mrx_ic-social-diaspora-a-square:before {
  content: "\EEB8";
}
.mrx_ic-social-diaspora-a:before {
  content: "\EEB9";
}
.mrx_ic-social-diaspora-circle:before {
  content: "\EEBA";
}
.mrx_ic-social-diaspora-square:before {
  content: "\EEBB";
}
.mrx_ic-social-diaspora:before {
  content: "\EEBC";
}
.mrx_ic-social-discord:before {
  content: "\EFD5";
}
.mrx_ic-social-disroot:before {
  content: "\EEBD";
}
.mrx_ic-social-facebook-f:before {
  content: "\EFD4";
}
.mrx_ic-social-facebook-messenger:before {
  content: "\EFD3";
}
.mrx_ic-social-facebook-square:before {
  content: "\EEBE";
}
.mrx_ic-social-facebook:before {
  content: "\EFD2";
}
.mrx_ic-social-flickr-square:before {
  content: "\EEBF";
}
.mrx_ic-social-flickr:before {
  content: "\EFD1";
}
.mrx_ic-social-jsfiddle:before {
  content: "\EFD0";
}
.mrx_ic-social-lastfm-square:before {
  content: "\EEC0";
}
.mrx_ic-social-lastfm:before {
  content: "\EFCF";
}
.mrx_ic-social-linkedin-in:before {
  content: "\EFCE";
}
.mrx_ic-social-linkedin-square:before {
  content: "\EEC1";
}
.mrx_ic-social-linkedin:before {
  content: "\EFCD";
}
.mrx_ic-social-mastodon-square:before {
  content: "\EEC2";
}
.mrx_ic-social-mastodon:before {
  content: "\EFCC";
}
.mrx_ic-social-medium-m:before {
  content: "\EFCB";
}
.mrx_ic-social-medium-square:before {
  content: "\EEC3";
}
.mrx_ic-social-medium:before {
  content: "\EFCA";
}
.mrx_ic-social-pawoo-square:before {
  content: "\EEC4";
}
.mrx_ic-social-pawoo:before {
  content: "\EEC5";
}
.mrx_ic-social-pinterest-p:before {
  content: "\EFC9";
}
.mrx_ic-social-pinterest-square:before {
  content: "\EEC6";
}
.mrx_ic-social-pinterest:before {
  content: "\EFC8";
}
.mrx_ic-social-soundcloud:before {
  content: "\EFC7";
}
.mrx_ic-social-stack-exchange:before {
  content: "\EFC6";
}
.mrx_ic-social-stack-overflow:before {
  content: "\EFC5";
}
.mrx_ic-social-steam-square:before {
  content: "\EEC7";
}
.mrx_ic-social-steam-symbol:before {
  content: "\EFC4";
}
.mrx_ic-social-steam:before {
  content: "\EFC3";
}
.mrx_ic-social-steemit-square:before {
  content: "\EEC8";
}
.mrx_ic-social-steemit:before {
  content: "\EEC9";
}
.mrx_ic-social-tiktok:before {
  content: "\EECF";
}
.mrx_ic-social-tumblr-square:before {
  content: "\EECA";
}
.mrx_ic-social-tumblr:before {
  content: "\EFC2";
}
.mrx_ic-social-twitch:before {
  content: "\EFC1";
}
.mrx_ic-social-twitter-square:before {
  content: "\EECB";
}
.mrx_ic-social-twitter:before {
  content: "\EFC0";
}
.mrx_ic-social-vimeo-square:before {
  content: "\EECC";
}
.mrx_ic-social-vimeo:before {
  content: "\EFBF";
}
.mrx_ic-social-weibo:before {
  content: "\EFBE";
}
.mrx_ic-social-wikipedia-w:before {
  content: "\EFBD";
}
.mrx_ic-social-xing-square:before {
  content: "\EECD";
}
.mrx_ic-social-xing:before {
  content: "\EFBC";
}
.mrx_ic-social-youtube-square:before {
  content: "\EECE";
}
.mrx_ic-social-youtube:before {
  content: "\EFBB";
}
.mrx_ic-software-chrome:before {
  content: "\F3C4";
}
.mrx_ic-software-edge:before {
  content: "\F3C3";
}
.mrx_ic-software-firefox:before {
  content: "\F3C2";
}
.mrx_ic-software-hangout:before {
  content: "\F361";
}
.mrx_ic-software-internet-explorer:before {
  content: "\F3C1";
}
.mrx_ic-software-skype:before {
  content: "\F3C0";
}
.mrx_ic-software-slack-hash:before {
  content: "\F362";
}
.mrx_ic-software-slack-square:before {
  content: "\F363";
}
.mrx_ic-software-slack:before {
  content: "\F364";
}
.mrx_ic-software-viber:before {
  content: "\F365";
}
.mrx_ic-software-weixin:before {
  content: "\F3BF";
}
.mrx_ic-software-whatsapp-square:before {
  content: "\F366";
}
.mrx_ic-software-whatsapp:before {
  content: "\F3BE";
}
.mrx_ic-software-windows:before {
  content: "\F3BD";
}
.mrx_ic-userpic-boy:before {
  content: "\F61D";
}
.mrx_ic-userpic-girl:before {
  content: "\F61E";
}
.mrx_ic-userpic-man:before {
  content: "\F61F";
}
.mrx_ic-userpic-women:before {
  content: "\F620";
}
.mrx_ic-add-s:before {
  content: "\EA01";
}
.mrx_ic-add:before {
  content: "\EA02";
}
.mrx_ic-arrow-down:before {
  content: "\EA03";
}
.mrx_ic-arrow-left:before {
  content: "\EA04";
}
.mrx_ic-arrow-right:before {
  content: "\EA05";
}
.mrx_ic-arrow-up:before {
  content: "\EA06";
}
.mrx_ic-caret-down:before {
  content: "\EA07";
}
.mrx_ic-caret-left:before {
  content: "\EA08";
}
.mrx_ic-caret-right:before {
  content: "\EA09";
}
.mrx_ic-caret-up:before {
  content: "\EA0A";
}
.mrx_ic-chackbox-s-checked:before {
  content: "\EA0B";
}
.mrx_ic-chackbox-s:before {
  content: "\EA0C";
}
.mrx_ic-checkbox-checked:before {
  content: "\EA0D";
}
.mrx_ic-checkbox-mark:before {
  content: "\EA0E";
}
.mrx_ic-checkbox:before {
  content: "\EA0F";
}
.mrx_ic-chevrone-down:before {
  content: "\EA10";
}
.mrx_ic-chevrone-left:before {
  content: "\EA11";
}
.mrx_ic-chevrone-right:before {
  content: "\EA12";
}
.mrx_ic-chevrone-up:before {
  content: "\EA13";
}
.mrx_ic-circle-s:before {
  content: "\EA14";
}
.mrx_ic-circle:before {
  content: "\EA15";
}
.mrx_ic-clipboard:before {
  content: "\EA16";
}
.mrx_ic-copy:before {
  content: "\EA17";
}
.mrx_ic-cross:before {
  content: "\EA18";
}
.mrx_ic-debug-block:before {
  content: "\EA19";
}
.mrx_ic-download:before {
  content: "\EA1A";
}
.mrx_ic-edit-object:before {
  content: "\EA1B";
}
.mrx_ic-edit:before {
  content: "\EA1C";
}
.mrx_ic-envelope:before {
  content: "\EA1D";
}
.mrx_ic-erase:before {
  content: "\EA1E";
}
.mrx_ic-gallery-circles:before {
  content: "\EA1F";
}
.mrx_ic-gallery:before {
  content: "\EA20";
}
.mrx_ic-hamburger:before {
  content: "\EA21";
}
.mrx_ic-heart:before {
  content: "\EA22";
}
.mrx_ic-list:before {
  content: "\EA23";
}
.mrx_ic-move-down:before {
  content: "\EA24";
}
.mrx_ic-move-left:before {
  content: "\EA25";
}
.mrx_ic-move-right:before {
  content: "\EA26";
}
.mrx_ic-move-up:before {
  content: "\EA27";
}
.mrx_ic-paste:before {
  content: "\EA28";
}
.mrx_ic-radio-button-checked:before {
  content: "\EA29";
}
.mrx_ic-radio-button:before {
  content: "\EA2A";
}
.mrx_ic-remove-s:before {
  content: "\EA2B";
}
.mrx_ic-remove:before {
  content: "\EA2C";
}
.mrx_ic-rss:before {
  content: "\EA2D";
}
.mrx_ic-search:before {
  content: "\EA2E";
}
.mrx_ic-square-s:before {
  content: "\EA2F";
}
.mrx_ic-square:before {
  content: "\EA30";
}
.mrx_ic-squircle-s:before {
  content: "\EA31";
}
.mrx_ic-squircle:before {
  content: "\EA32";
}
.mrx_ic-star-half:before {
  content: "\EA33";
}
.mrx_ic-star-solid:before {
  content: "\EA34";
}
.mrx_ic-star:before {
  content: "\EA35";
}
.mrx_ic-upload:before {
  content: "\EA36";
}
.mrx_ic-weight:before {
  content: "\EA37";
}
.mrx_ic-zoom-in:before {
  content: "\EA38";
}
.mrx_ic-zoom-out:before {
  content: "\EA39";
}


/*# sourceMappingURL=icons.css.map */
