extends layout/_layout

prepend html
	- var title = "Changelog"
	- var description = "Open version of icon font from upcoming Marxco component system."

block content
	section.section.changelog
		.container
			.content
				h1 Changelog
				h2 1.7.0 - 2020-11-07
				img(src='img/1_7_0-20201107.png')
				h3 Added
				ul
					li
						code cult-biohazard
					li
						code cult-covid-19
					li
						code cult-jive-belarus
					li
						code dev-js-deliver
					li
						code dev-css3-alt
					li
						code dev-html5
					li
						code dev-processwire
					li
						code dev-stylus
					li
						code dev-wordpress
					li
						code doc-pdf
					li
						code finance-blockonomics
					li
						code finance-buymeacoffee
					li
						code finance-embily
						|  and 
						code finance-embily-circle
						| .
					li
						code finance-ko-fi-circle
						| ,
						code finance-ko-fi
					li
						code finance-mastercard
					li
						code finance-patreon
						| , 
						code finance-patreon-circle
						|  and 
						code finance-patreon-square
						| .
					li
						code finance-ttmcard
					li
						code finance-webmoney
					li
						code logo-android-2019
					li
						code logo-creative-cloud
					li
						code logo-freelancer_com
					li
						code logo-lets-encrypt
					li
						code logo-mediafire
					li
						code logo-mega-nz
					li
						code logo-openinitiative
					li
						code logo-origin
					li
						code market-etsy-square
						|  and 
						code market-etsy
						| .
					li
						code market-f-droid
					li
						code social-artstation
					li
						code social-disroot
					li
						code social-tiktok
					li
						code software-hangout
					li
						code software-viber
					li
						code userpic-boy
					li
						code userpic-girl
					li
						code userpic-man
					li
						code userpic-women
					li
						code polit-democratic-party-us
					li
						code polit-democratic-party-us-modern
					li
						code polit-republican-party-us
					li
						code polit-uk
					li
						code clipboard
					li
						code copy
					li
						code download
					li
						code edit-object
					li
						code edit
					li
						code erase
					li
						code gallery
						|  and 
						code gallery-circles
						| .
					li
						code list
					li
						code paste
					li
						code rss
					li
						code star
						| , 
						code star-solid
						|  and 
						code star-half
						| .
					li
						code upload
				hr
				h2 1.6.0 - 2020-02-24
				img(src='img/1_6_0-20200223.png')
				h3 Added
				ul
					li
						code finance-liberapay
						|  and 
						code finance-liberapay-square
						| .
					li
						code social-pawoo
						| and
						code social-pawoo-square
						| .
					li
						code social-deviantart-square
					li
						code social-flickr-square
					li
						code social-mastodon-square
					li
						code social-medium-square
					li
						code social-steemit
						|  and 
						code social-steemit-square
						| .
					li
						code gem-asscher
					li
						code gem-cushion
					li
						code gem-emerald
					li
						code gem-heart
					li
						code gem-marquise
					li
						code gem-princess
					li
						code gem-radiant
					li
						code doc-afpub
					li
						code logo-gitlab-square
					li
						code logo-gumroad-square
					li
						code weight
				h3 Changed
				ul
					li
						| Removed loose parts from 
						code gem-oval
						|  and 
						code gem-round
					li
						code logo-github
					li
						code doc-afphoto
					li
						code doc-afdesign
					li Extra `title` and `defs` tags removed from SVGs.
					li Code has been rewritten with ECMAScript 6 to match the requirements of Gulp 4.x and Node.JS 12.
					li Icons selectors now are sorted by category and iconname.
				hr
				h2 1.5.0 - 2019-11-04
				h3 Added
				ul
					li
						code gems
						|  category in range 
						code 62905-63004
						| .
					li
						code gem-oval
					li
						code gem-pear
					li
						code gem-round
					li
						code cult-skull
					li
						code cult-jack-o-lantern
					
