extends layout/_layout

prepend html
	- var title = "Overview"
	- var description = "Open version of icon font from upcoming Marxco component system."

block content
	include layout/sections/_sectionDemoIcons
