extends _layout

prepend html
	- var title = "Intro"
	- var description = "Open version of icon font from upcoming Marxco component system."
	- var youAreUsingPug = true;

block content
	section.top.mrx_c-row
		.top__logo.mrx_c-row__col.mrx_c-row__col--1-2.mrx_c-row__col--lg-6-8.mrx_c-row__col--md-6-8
			span(style="color: #e3302b;").mrx_ic.mrx_ic--fw.mrx_ic--2x.mrx_ic-logo-marxco
			span.top__logo__title
				strong Marxco&nbsp;Icons&nbsp;CS
		.top__description.mrx_c-row__col.mrx_c-row__col--1-2.mrx_c-row__col--lg-2-8.mrx_c-row__col--md-2-8
			a.mrx_c-btn.mrx_c-btn--pill(href="https://gitlab.com/M-O-Z-G/marxco-icf")
				i.mrx_ic.mrx_ic--fw.mrx_ic-logo-gitlab
				|  Contribute
	include _sectionDemoIcons

